<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>

<div class="wrapper">

<div id="my_navbar" class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <div class="dropdown">
    <button class="dropbtn">Nodes</button>
        <div class="dropdown-content">
            {% for n in range(nodes) %}
            <a href="{{ url_for('node_info', node=n) }}">Node {{ n }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="dropdown">
    <button class="dropbtn">Administration</button>
        <div class="dropdown-content">
            <a href="{{ url_for('init') }}">Initialize NBC network</a>
            <a href="{{ url_for('run_test') }}">Testing</a>
            <a href="{{ url_for('view_stats') }}">Statistics</a>           
        </div>
    </div>

</div>

{% block content %}{% endblock %}

</div>
</body>
</html>
