{% extends "layout.html" %}

{% block title %}NBC - Node {{ n }} transaction{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1>Make a transaction from node {{ n }}</h1>
<h5>(current wallet balance: {{ balance }} NBC)</h5>
<hr>
    <form action="{{ url_for('make_transaction', node=n) }}" method="POST">
        To:<br>
        <select name="node_id" style="width:120px; text-align:center;">
            {% for node in recipients %}
            <option value="{{ node }}">{{ 'node %d'%node }}</option>
            {% endfor %}
        </select><br><br>
        Amount:<br>
        <input type="text" name="amount" required><br><br>
        <input type ="submit" value ="Send money!" onclick="alert('Transaction submitted successfully!')" />
        <input type="reset">
    </form>
<hr>
{% endblock %}
