{% extends "layout.html" %}

{% block title %}NBC - Nodes{% endblock %}

{% block head %}{{ super() }}{% endblock %}

{% block content %}
<h1>Select action for node {{ n }}</h1>

<!-- Three buttons in a group -->
    <form action="{{ url_for('wallet_balance', node=n) }}">
      <button type="submit" class="block"><h5>Current wallet balance</h5></button> 
    </form>
    <br>
    <form action="{{ url_for('make_transaction', node=n) }}">
      <button type="submit" class="block"><h5>Make a transaction</h5></button> 
    </form>
    <br>
    <form action="{{ url_for('view_blockchain', node=n) }}">
      <button type="submit" class="block"><h5>View local version of blockchain</h5></button> 
    </form>
{% endblock %}